.form-section form{
    display: flex; 
    flex-direction: column; /*Para ponerlo en una columna*/
    gap: 10px;
}

.form-section input,
.form-section textarea {
    padding: 10px;
    font-size: 15px;
    width: 100%; /* Ocupa todo el espacio disponible */
}

.form-section textarea {
    resize: vertical; /*Redimensiona solo verticalmente el Mensaje del formulario*/
    height: 150px; 
}

#map img{
    width: 100%;
}