@import "navegador";
@import "moduloregistro";
@import "modulologin";
@import "moduloform";

$pinkcolor: #e18abeb8;
$browncolor: #876146;
$whitecolor: #ffffff;
$font-family: Arial, sans-serif;

@mixin texto{
    text-align: center; 
    color: $browncolor;
}

@mixin flexContainer {
    display: flex;
    flex-wrap: wrap;
}

@mixin gridContainer ($columnas){
    display: grid;
    gap: 20px;
    padding: 20px;
    color: $whitecolor;
    border: 5px solid #fab882b9;
    grid-template-columns: $columnas;
}

@mixin container ($margin){
    text-align: center;
    margin: $margin;
}

 

*{
    font-family: $font-family; /*Fuente universal*/
}


a{
    color: $browncolor;
}



body{
    background-image: url('cupcake.webp');
}

p{
    @include texto();
}

h1{
    @include texto();
}



/*Para hacer parrafos color blanco*/
.p{
    color: $whitecolor;
}

#banner{
    background-image: url(banner.png); 
    background-size: cover; 
    background-position: center; 
    padding: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container{
    width: 360px; 
    @include container(40px)
}

.flex-container{
    @include flexContainer();
    justify-content: center; /*Los items flexibles se alinean al centro*/
}

.container-inicio{
    background-color: $pinkcolor;
    color: $whitecolor;
    display: flex;
    align-items: center;
    padding: 20px;
    @include container(auto)
}


.imagen-aside{
    flex: 0 0 auto; /*La imagen no crece ni se hace más pequeña*/
    text-align: center;
    margin-right: 20px;
    width: 400px;
}




button{
    background-color: #ec8fcc; 
    color: $whitecolor;
    border-color: $whitecolor;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.5s ease, transform 0.3s ease; /*Transición*/
}

button:hover{
    background-color: #d07b43; /*Nuevo color al pasar el cursor por encima*/
    transform: scale(1.1); /*Aumenta el tamaño al pasar el cursor por*/
}


.container2{
    width: 30%;
    min-width: 250px;
    margin: 10px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container2{
    @include flexContainer();
    background-color: #fab882b9; //////////////////
    color: $browncolor;
    justify-content: space-around;
    padding: 5px;
    margin-top: 20px;
}

.icono{
    width: 50px; 
    vertical-align: middle; 
    margin-left: 5px;
}

.espacio{
    padding: 15px;
}

.grid-container{
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.2fr;
    gap: 20px;
    padding: 20px;
}

.grid-container .left, 
.grid-container .center,
.grid-container .right{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10px; 
    background-color: $pinkcolor;
    padding: 30px;
}

.grid-container img{
    width: 100px;
    height: 100px; 
    border: 5px solid #fab882b9;
    background-color: #fcd8b9;
}


.flex-container3{
    @include flexContainer();
    justify-content: space-between;
}

.flex-container3 div{
    background-color: #fcd359c4;
    flex: 1 1 calc(25% - 20px); /*Se redimensiona de acuerdo al espacio disponible, en cuatro divisiones con espaciado*/
    text-align: center;
    margin: 10px;
    font-size: 15px;
    border: 3px solid #e0bc3c;
    box-sizing: border-box;
}

.item{
    flex: 20px;
    padding: 10px;
    border: 3px solid #e0bc3c;
    transition: transform 0.3s;
}

.item:hover{
    transform: scale(1.05);
}

.flex-container3 img{
    width: 200px;
    height: 200px;
}

.grid-container2{
    @include gridContainer(1fr 2fr);
}



#comunidad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $pinkcolor;
    padding: 30px;
    border: 5px solid #e07db9;
    text-align: center;
}

.image-box {
    background-color: #fab882b9;
    margin-bottom: 10px;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $whitecolor;
    font-size: 14px;
    border: 5px solid #fcd359c4;
}

.image-box img{
    width: 300px;
}


.grid-container3{
    @include gridContainer(0.8fr 1fr);
    background-color: #fcd359c4;
    margin: 20px;
}


.pre-footer {
    color: $whitecolor;
    display: flex;
    justify-content: space-around;
    background-color: #e091b3;
    padding: 10px;
    margin-top: 20px;
}

.importante{
    color: #d07b43;
    font-weight: bold;
}

footer{
    background-color: #e091b3; 
    text-align: center;
}
