nav{
    background-color: #e993c0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

/*APLICA ESTILO AL CONTENEDOR DE LOS LINKS DE NAVEGACIÓN*/
.links-nav{ 
    margin-left: auto;
}

/*APLICA ESTILO A LOS LINKS DENTRO DEL CONTENEDOR*/
.links-nav a{
    text-decoration: none; 
    color: #ffffff;
    margin-left: 10px;
}

body{
    font-family: Arial, sans-serif;
    background-image: url('cupcake.webp');
}

#banner{
    background-image: url(banner.png); 
    background-size: cover; 
    background-position: center; 
    padding: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    background-color: #e091b3; 
    color: white; 
    text-align: center;
}

