*{
    font-family: Arial, sans-serif; /*Fuente universal*/
}

.navbar{
    background-color: #dfbcf4; 
    border: 3px dashed #eddf8f;
    margin: 10px;
}

.a{
    color: #876146;
}

body{
    background-image: url('wallpaper.avif');
}

p{
    text-align: center;
    color: #876146;
}

h1{
    text-align: center; 
    color: #876146;
    font-family: 'Playwrite GB S', cursive;
    animation-duration: 3s;
    animation-name: slidein;
} 
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

h2, h3, h4, h5{
    font-family: 'Playwrite GB S', cursive;
    color: #876146;
}

.borde{
    border: 5px dashed #eddf8f;
}

/*Para hacer parrafos color blanco*/
.p{
    color: #ffffff
}

.naranjo{
    background-color: #fab882b9;
}

.btn-custom .btn{
    background-color: #fbb1d6;
    color: #876146;
    border: 2px dashed #eddf8f;
}

.rosado{
    background-color: #f93cb7;
}

.morado{
    background-color: #dfbcf4;
}

.carousel1{
    height: 200px; 
    margin: 20px;
}

.carousel1-item{
    height: 100%; 
}

.carousel1-item img{
    height: 200px
}

.carousel2 {
    height: 270px;
}

.carousel2-item{
    height: 100%;
}

.carousel2-item img{
    height: 270px;
}

.size-img{
    width: 360px;
    height: 205px;
}

.size-img2{
    width: 250px;
    height: 400px;

}

th{
    font-family: 'Playwrite GB S', cursive;
    color: #ffffff;
}

td{
    color: #ffffff;
}


.animacion img{
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.animacion img:hover{
    transform: scale(1.1);
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.container-inicio{
    background-color: #e18abeb8;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {background-color: #fab882b9;} 
    to {background-color: #e18abeb8;}
  }

.imagen-aside{
    flex: 0 0 auto; /*La imagen no crece ni se hace m치s peque침a*/
    text-align: center;
    margin-right: 20px;
    width: 400px;
    transition: transform 0.5s ease;
}

.imagen-aside:hover {-webkit-transform: rotate(360deg);transform: rotate(360deg);}

.container-login{
    width: 400px;
    background-color: #e18abeb8;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 40px;
    margin: auto;
    animation-name: example;
    animation-duration: 4s;
    border-radius: 10px;
    border: 5px dashed #eddf8f;
}

@keyframes example {
    from {background-color: #fab882b9;} 
    to {background-color: #e18abeb8;}
  }

.container-login a:hover{
    color: #eddf8f;
}

.login-label{
    display: inline-block; 
    width: 100px; 
    text-align: left;
}

.container-registro{
    background-color: #e18abeb8; 
    color: #ffffff;
    padding: 40px;
    animation-name: example;
    animation-duration: 4s;
    width: 800px;
    margin: auto;
    border-radius: 10px;
    border: 5px dashed #eddf8f;
}

@keyframes example {
    from {background-color: #fab882b9;} 
    to {background-color: #e18abeb8;}
  }

.registro-label{
    display: inline-block; 
    width: 200px; 
    text-align: left;
}

.registro-input{
    display: inline-block; 
    width: 400px;
    text-align: left;
}

button{
    background-color: #ec8fcc; 
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.5s ease, transform 0.3s ease; /*Transici칩n*/
}

button:hover{
    background-color: #d07b43; /*Nuevo color al pasar el cursor por encima*/
    transform: scale(1.1); /*Aumenta el tama침o al pasar el cursor por*/
}

.container2{
    width: 30%;
    min-width: 250px;
    margin: 10px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container2{
    background-color: #fcdd81c4; 
    color: #876146;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 20px;
}

.icono{
    width: 50px; 
    vertical-align: middle; 
    margin-left: 5px;
}

.espacio{
    padding: 15px;
}

.grid-container{
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.2fr;
    gap: 20px;
    padding: 20px;
}

.grid-container .left, 
.grid-container .center,
.grid-container .right{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10px; 
    background-color: #e18abeb8;
    padding: 30px;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {background-color: #fab882b9;} 
    to {background-color: #e18abeb8;}
  }

.grid-container img{
    width: 100px;
    height: 100px; 
    border: 5px solid #fab882b9;
    background-color: #fcd8b9;
    transition: background-color 0.5s ease, transform 0.3s ease;
    box-shadow: 3px 3px 6px #333;
}

.grid-container img:hover{
    transform: scale(1.1);
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.flex-container3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-container3 div{
    background-color: #fcd359c4;
    flex: 1 1 calc(25% - 20px); /*Se redimensiona de acuerdo al espacio disponible, en cuatro divisiones con espaciado*/
    text-align: center;
    margin: 10px;
    font-size: 15px;
    border: 3px solid #e0bc3c;
    box-sizing: border-box;
}

.item{
    flex: 20px;
    padding: 10px;
    border: 3px solid #e0bc3c;
    transition: transform 0.3s;
}

.item:hover{
    transform: scale(1.05);
}

.images img{
    width: 200px;
    height: 200px;
    text-align: center;
}

.grid-container2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    color: white;
    padding: 20px;
}

#comunidad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e18abeb8;
    padding: 30px;
    border: 5px solid #e07db9;
    text-align: center;
}

.image-box {
    background-color: #b8eafdb9;
    margin-bottom: 10px;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    border: 5px dotted #eddf8f;
}

.image-box img{
    width: 300px;
}


.grid-container3{
    background-color: #fcd359c4;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 20px;
    margin: 20px;
    border: 5px solid #fab882b9;
    color: white;
    padding: 20px;

}

.importante{
    color: #d07b43;
    font-weight: bold;
}

footer{
    background-color: #f0bcf4; 
    text-align: center;
    margin-top: 20px;
}

