@charset "UTF-8";
nav {
  background-color: #e993c0;
  display: flex; /*Diseño flexible*/
  justify-content: space-between; /*Separación del logo de los links de navegación*/
  align-items: center; /*Alinea los items verticalmente al centro*/
  padding: 5px 20px;
}

#logo {
  width: 40px;
}

/*Aplica estilo al contenedor de los links de navegación*/
.links-nav {
  margin-left: auto; /*Alinea todos los links de navegación a la derecha*/
}

/*Aplica estilos a los links de navegación*/
.links-nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 10px; /*Margen entre los links*/
}

.container-registro {
  text-align: center;
  background-color: rgba(225, 138, 190, 0.7215686275);
  color: #ffffff;
  padding: 40px;
}

.registro-label {
  display: inline-block;
  width: 200px;
  text-align: left;
}

.registro-input {
  display: inline-block;
  width: 400px;
  text-align: left;
}

.container-login {
  background-color: rgba(225, 138, 190, 0.7215686275);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: auto;
}

.login-label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.form-section form {
  display: flex;
  flex-direction: column; /*Para ponerlo en una columna*/
  gap: 10px;
}

.form-section input,
.form-section textarea {
  padding: 10px;
  font-size: 15px;
  width: 100%; /* Ocupa todo el espacio disponible */
}

.form-section textarea {
  resize: vertical; /*Redimensiona solo verticalmente el Mensaje del formulario*/
  height: 150px;
}

#map img {
  width: 100%;
}

* {
  font-family: Arial, sans-serif; /*Fuente universal*/
}

a {
  color: #876146;
}

body {
  background-image: url("cupcake.webp");
}

p {
  text-align: center;
  color: #876146;
}

h1 {
  text-align: center;
  color: #876146;
}

/*Para hacer parrafos color blanco*/
.p {
  color: #ffffff;
}

#banner {
  background-image: url(banner.png);
  background-size: cover;
  background-position: center;
  padding: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.container {
  text-align: center;
  width: 360px;
  margin: 40px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*Los items flexibles se alinean al centro*/
}

.container-inicio {
  background-color: rgba(225, 138, 190, 0.7215686275);
  color: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: auto;
}

.imagen-aside {
  flex: 0 0 auto; /*La imagen no crece ni se hace más pequeña*/
  text-align: center;
  margin-right: 20px;
  width: 400px;
}

button {
  background-color: #ec8fcc;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.5s ease, transform 0.3s ease; /*Transición*/
}

button:hover {
  background-color: #d07b43; /*Nuevo color al pasar el cursor por encima*/
  transform: scale(1.1); /*Aumenta el tamaño al pasar el cursor por*/
}

.container2 {
  width: 30%;
  min-width: 250px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(250, 184, 130, 0.7254901961);
  color: #876146;
  justify-content: space-around;
  padding: 5px;
  margin-top: 20px;
}

.icono {
  width: 50px;
  vertical-align: middle;
  margin-left: 5px;
}

.espacio {
  padding: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.2fr;
  gap: 20px;
  padding: 20px;
}

.grid-container .left,
.grid-container .center,
.grid-container .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(225, 138, 190, 0.7215686275);
  padding: 30px;
}

.grid-container img {
  width: 100px;
  height: 100px;
  border: 5px solid rgba(250, 184, 130, 0.7254901961);
  background-color: #fcd8b9;
}

.flex-container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container3 div {
  background-color: rgba(252, 211, 89, 0.768627451);
  flex: 1 1 calc(25% - 20px); /*Se redimensiona de acuerdo al espacio disponible, en cuatro divisiones con espaciado*/
  text-align: center;
  margin: 10px;
  font-size: 15px;
  border: 3px solid #e0bc3c;
  box-sizing: border-box;
}

.item {
  flex: 20px;
  padding: 10px;
  border: 3px solid #e0bc3c;
  transition: transform 0.3s;
}

.item:hover {
  transform: scale(1.05);
}

.flex-container3 img {
  width: 200px;
  height: 200px;
}

.grid-container2 {
  display: grid;
  gap: 20px;
  padding: 20px;
  color: #ffffff;
  border: 5px solid rgba(250, 184, 130, 0.7254901961);
  grid-template-columns: 1fr 2fr;
}

#comunidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(225, 138, 190, 0.7215686275);
  padding: 30px;
  border: 5px solid #e07db9;
  text-align: center;
}

.image-box {
  background-color: rgba(250, 184, 130, 0.7254901961);
  margin-bottom: 10px;
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  border: 5px solid rgba(252, 211, 89, 0.768627451);
}

.image-box img {
  width: 300px;
}

.grid-container3 {
  display: grid;
  gap: 20px;
  padding: 20px;
  color: #ffffff;
  border: 5px solid rgba(250, 184, 130, 0.7254901961);
  grid-template-columns: 0.8fr 1fr;
  background-color: rgba(252, 211, 89, 0.768627451);
  margin: 20px;
}

.pre-footer {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  background-color: #e091b3;
  padding: 10px;
  margin-top: 20px;
}

.importante {
  color: #d07b43;
  font-weight: bold;
}

footer {
  background-color: #e091b3;
  text-align: center;
}/*# sourceMappingURL=styles_a.css.map */